*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}

body{
  background-color: rgb(0, 0, 87);
}

.app{
  background-color: white;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 10px;
}

.app h1{
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
  color: #001e4d;
  font-size: 18px;
  font-weight: 600;
}

.btn{
  width: 100%;
  text-align: left;
  background-color: white;
  color: #222;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #222;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.btn:hover:not([disabled]){
  background-color: #001e4d;
  color: white;
}

.btn:disabled{
  cursor: no-drop;
}

#next-btn{
  display: none;
  background-color: #001e4d;
  color: white;
  font-weight: 500;
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #001e4d;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

#next-btn:hover{
  background-color: #013891;
}

.correct{
  background-color: rgb(168, 255, 168);
}

.incorrect{
  background-color: rgb(255, 163, 163);
}